@font-face{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    src: url(../fonts/9404.ttf);
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* header */
.row::after{
    content: "";
    display: block;
    clear: both;
}
[class*="col-"]{
    float: left;
}
.col-xs-14{
    width: 14%;
    height: 90px;
    background-image: url(../img/Shape\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.col-xs-14::after{
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 25px;
    background-image: url(../img/77.png);
    background-repeat: no-repeat;
    background-position: center;
    top: 32px;
    right: 50%;
    transform: translateX(16px);
}
.col-xs-68{
    width: 68%;
    height: 90px;
    font-size: 50px;
    font-weight: 300;
    line-height: 90px;
}
.col-xs-18{
    width: 18%;
    height: 90px;
}
.burger{
    width: 57px;
    height: 43px;
    background-color: #5094F2;
    border-radius: 3px;
    transform: translateY(24px);
    margin: auto;
}
.burger_line{
    width: 36px;
    height: 5px;
    background-color: #fff;
    margin: auto;
    transform: translateY(19px);
    position: relative;
    border-radius: 1px;
}
.burger_line::before{
    content: "";
    display: block;
    position: absolute;
    width: 36px;
    height: 5px;
    background-color: #fff;
    top: -10px;
    left: 0;
    border-radius: 1px;
}
.burger_line::after{
    content: "";
    display: block;
    position: absolute;
    width: 36px;
    height: 5px;
    background-color: #fff;
    top: 10px;
    left: 0;
    border-radius: 1px;
}













@media ( min-width: 768px ){
    .test{
        width: 600px;
    }
}